---
import Layout from '../layouts/Layout.astro';
import RandomButton from '../components/RandomButton.astro';
---

<Layout title="デパートアクセシビリティドリル デパリル">
	<main>
		 <div class="startBlock">
			<h1>
				<span class="icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48"><rect width="48" height="48" fill="none"/><line x1="18" y1="15" x2="27" y2="15" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"/><line x1="18" y1="23" x2="27" y2="23" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"/><line x1="18" y1="31" x2="21" y2="31" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"/><path d="M28,5H12.3A4.16,4.16,0,0,0,8,9V39a4.16,4.16,0,0,0,4.3,4H30" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"/><polyline points="34 36 38 44 42 36" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"/><path d="M42,36V8a4,4,0,0,0-8,0V36" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"/></svg></span>
				<span>デパートアクセシビリティドリル</span>
				デパリル
			 </h1>
			<RandomButton text={'スタート'} class={'nextBtn'}/>
		 </div>
	</main>
</Layout>
<script>
</script>
<style>
	main {
		margin: auto;
		box-sizing: border-box;
		padding: 1rem;
		font-size: 20px;
		line-height: 1.6;
	}
	h1 {
  	font-family: "Zen Maru Gothic", serif;
		text-align: center;
		font-size: 4rem;
		@media screen and (max-width: 768px) {
			font-size: 3rem;
		}
		span {
  		font-family: "Kosugi Maru", sans-serif;
			display: block;
			font-size: 1.2rem;
			@media screen and (max-width: 768px) {
			font-size: 1rem;
			}
		}
		.icon {
			width: 3em;
			display: inline-block;
			position: relative;
			margin-right: 0.5em;
			z-index: 1;
			&::before{
				z-index: -1;
				border-radius: 100px;
				top: 38%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 2em;
				height: 2em;
				position: absolute;
				background: #85dfe7;
				display: block;
				content: '';
			}
		}
	}
	:global(.nextBtn) {
		background: #ffff70;
		border-radius: 15px;
		text-align: center;
		margin: 2em auto 0;
		display: block;
		padding: 1em 0;
		text-decoration: none;
		max-width: 100%;
		width: 15em;
		color: #000;
	}
</style>
